name: Continuous Integration

on: 
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['18.x', '20.x', '22.x']

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: developer
          POSTGRES_PASSWORD: mysecretpassword
          POSTGRES_DB: authapi
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        
    - name: npm install migrate and test
      run: |
        npm install
        npm run migrate up
        npm run test
      env:
        CI: true
        HOST: localhost
        PORT: 3000
        PGHOST: localhost
        PGPORT: 5432
        PGUSER: developer
        PGPASSWORD: mysecretpassword
        PGDATABASE: authapi
        ACCESS_TOKEN_KEY: secret
        REFRESH_TOKEN_KEY: terces
        ACCESS_TOKEN_AGE: 3600